<div class='page-header'>
  <h1 class='text-center'>DriveLess</h1>
</div>

<p class='lead text-center'>Helping you help make the world a better place</p>

<%= image_tag 'ecology.svg', class: 'earth' %>

<% if current_user %>
  <p class='lead text-center'>See what's happening! <%= link_to "View your feed", feed_path %></p>
<% else %>
  <p class='lead text-center'>Want to know more?  <%= link_to "Try it out", register_path %> today.</p>
<% end %>