$primary-lightest: #d2f8b2;
$primary-light: #ccc;
$primary-medium: #67E300;
$primary-dark: #439400;

$secondary-lightest: #61D7A4;
$secondary-medium: #ccc;

$ternary-light: #ccc;

p.answer {
  font-size: 36px;
  padding-top: 18px;
  color: $primary-dark;
}

#calculator form {
  text-align: center;
}