@import "colors";

body {
  padding-top: 70px;
  background-size: cover;
}

.well {
  background-color: darken($primary-lightest, 10%);
}

div#block_2 {
  display: none;
}

div#piktowrapper-embed {
  padding-bottom: 32px;
}