$primary-lightest: #d2f8b2;
$primary-light: #ccc;
$primary-medium: #67E300;
$primary-dark: #439400;

$secondary-lightest: #61D7A4;
$secondary-medium: #ccc;

$ternary-light: #ccc;

nav.navbar {
  background-color: $primary-dark;
  .nav > li {
    a {
      color: $primary-lightest;
      text-shadow: none;
    }
    a:hover {
      color: $secondary-lightest;
    }
  }
}

.dropdown-menu {
  background-color: $primary-dark;
}

img.earth {
  display: block;
  margin: 0 auto;
  width: 400px;
}