@import "colors";

.status {
  border-bottom: solid 1px $silver-gray;
  padding: 5px 0;
  p {
    margin: 4px 0;
  }
  .admin {
    display: none;
  }
  &.hover {
    background-color: #fafafa;
  }
  &.hover .admin {
    display: inline;
  }
}

div.form-actions {
  background: transparent;
}