$primary-lightest: #84CD7C;
$primary-light: #69CD5E;
$primary-medium: #369C2B;
$primary-dark: #16650E;

$secondary-light: #DFAD86;
$secondary-medium: #BE7135;

$ternary-light: A2B96F;

body {
  padding-top: 70px;
}

.status {
  border-bottom: solid 1px #ccc;
  padding: 5px 0;
  p {
    margin: 4px 0;
  }
  .admin {
    display: none;
  }
  &.hover {
    background-color: #fafafa;
  }
  &.hover .admin {
    display: inline;
  }
}